body {
    background: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    font-family: Arial, sans-serif;
    color: black;
}

h1 {
    font-family: sans-serif;
    font-size: 60px;
    padding: 35px;
}

.logo a {
    font-family: "Brush Script MT", cursive;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: #0e2e3d;
    position: relative;
    left: 50px;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: inline-block;
    transition: transform 0.2s ease;
}

.menu a:hover {
    transform: scale(1.2);
}
.contact {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

nav img {
    width: 40px;
    height: 40px;
}

.hero-head {
    color: #0e2e3d;
    font-size: 60px;
    font-family: "poppins", sans-serif;
    text-align: center;
    font-weight: bold;
    width: 23%;
    float: left;
    margin-left: 90px;
    margin-top: 20px;

}
.hero-quote {
    font-size: 18px;
    color: #0e2e3d;
    font-family: "Arial Rounded MT", sans-serif;
    line-height: 1.7;
    width: 20%;
    float:right;
    margin-right: 50px;
    margin-top: 70px;
}
.hero-img {
    transform: scale(75%);
    position: relative;
    left: 300px;
    bottom: 700px;

}
.hero-email {
    color: red;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    text-decoration: underline orangered;
    position: relative;
    right: 320px;
    top: 300px;
}
.hero-experience {
    font-family: 'poppins', sans-serif;
    display: flex;
    position: relative;
    right: 320px;
    top: 500px;
    color: #0e2e3d;
}
#experience-1 {
    font-weight: bold;
    font-size: 60px;
}
#experience-2 {
    width: 20%;
    margin-left:10px;
    margin-top: 18px;
}
.hero-certificate {
    font-family: 'poppins', sans-serif;
}
.certificate-img {
    position: relative;
    left: 550px;
    top: 150px;
    transform: scale(20%);
}
.certificate-text {
    float: right;
    position: relative;
    top: -35px;
    right: 135px;
    width: 11%;
    text-align: center;
}